@charset "utf-8";

/* reindeer 미디어쿼리 - media.css */
/*1920px 이하********************************************************/
@media only screen and (max-width:1920px) {

    /*store페이지*/
    .store_wrap .swiper-container {
        width: 89.5%;
    }

    #gallery {
        width: 100%;
    }
}

/*1660px이하*********************************************************/
@media only screen and (max-width:1660px) {
    .lb_cont_txt {
        right: -23%;
    }

    .lbbtn_next {
        right: -2%;
    }

    .lbbtn_more {
        right: 9%;
        bottom: 8%;
    }




}

/*1600px이하*********************************************************/
@media only screen and (max-width:1600px) {

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 58vh !important;
    }
}



/*1550px이하*********************************************************/
@media only screen and (max-width:1550px) {
    .lb_cont_txt {
        height: 35vh;
        margin-top: 8.9%;
    }

    .lb_cont_txt .break {
        display: block;
    }

    .lb_cont_txt .breakinline {
        display: inline-block;
    }

    .breakinline br {
        display: none;
    }

    .lbbtn_more {
        bottom: 15%;
        font-size: 1rem;
    }

}




/*1500px이하*********************************************************/
@media only screen and (max-width:1500px) {
    .login {
        width: 30%;
    }

    .l_input input {
        width: 17vw;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 56vh !important;
    }
}




/*1460px이하*********************************************************/
@media only screen and (max-width:1460px) {

    /*룩북 페이지*/
    .lb_cont_img {
        width: 90%;
        height: 470px;
    }

    .lb_cont_txt {
        width: 70%;
        height: 35vh;
        margin-top: 33%;
    }

    .lbbtn_next.lb2next_Btn {
        right: -6%;
    }

    .lbbtn_more.lb2btn_more {
        right: 0;
    }

    .lb2_contxt {
        width: 72%;
    }


    /*회원가입 페이지*/
    .notice_title.jotit {
        margin-bottom: 3.5%;
    }

    #frm {
        width: 60%;
    }

    #btnj {
        font-size: 0.95rem;
    }


}



/*1400px이하*********************************************************/
@media only screen and (max-width:1400px) {

    /*1.메인*/
    /*룩북 버튼*/
    #lbbox > .lbtn {
        width: 23%;
        height: 8%;
        font-size: 1.7vw;
        line-height: 72px;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 50vh !important;
    }
}


/*1355px이하*********************************************************/
@media only screen and (max-width:1355px) {
    .notice_title.lb {
        margin-top: -3.5%;
    }

    .lb_cont_txt {
        width: 74%;
        margin-top: 37%;
    }

    .lb_cont_txt .lbbtn_next {
        right: -7%;
    }

    .lbbtn_more {
        right: 3%;
    }

}




/*1350px이하*********************************************************/
@media only screen and (max-width:1350px) {

    /*2.로그인팝업*/
    .login {
        width: 35%;
        height: 35vh;
    }

    .l_input input {
        width: 20vw;
    }


    /*룩북 상세*/
    .lbmore_tit {
        left: -236px;
        font-size: 58px;
    }

    .lbmore_tit.lbtit2 {
        left: -150px;
    }

    /*store 페이지*/
    /*all 제품*/
    .store_best.all > .gallery.all > .photobox {
        width: 31.3%;
        margin: 0 3% 3% 0;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(3n) {
        margin-right: 0;
    }

    /*설명글 박스*/
    .gallery.all .txt {
        padding: 5% 0;
    }

    .gallery.all .txttitle {
        font-size: 1.0625rem;
        padding-bottom: 13px;
    }

    .gallery.all .txtcollec,
    .txtprice {
        font-size: 0.9375rem;
    }


}

/*1275px이하*********************************************************/
@media only screen and (max-width:1275px) {

    /*룩북 페이지*/
    #lb_cont,
    .lb_cont_img,
    .lb_cont_txt {
        width: 100%;
    }

    #lb_cont {
        margin: 0 0 0 7.4%;
    }

    .lb_cont_img {
        background: url(../images/look_2.jpg) no-repeat 100% top/cover;
    }

    .lb_cont_txt {
        left: 0;
        margin-top: 42%;
    }

    .lb_cont_txt .lbbtn_next {
        right: 3%;
        top: 45%;
        width: 30px;
    }

    .lb2_contxt {
        margin-top: 37%;
    }

    .lbbtn_more.lb2btn_more {
        right: 8%;
        bottom: 10%;
    }

    .lb2_contxt .lbBreak2 {
        display: inline-block;
    }

    .lbBreak2_2 {
        display: block;
    }

}


/*1240px이하*********************************************************/
@media only screen and (max-width:1240px) {

    /*상품페이지*/
    /*첫번째 이미지*/
    .pImg2 {
        width: 52vw;
    }

    .pImggr {
        flex-direction: column;
        align-items: center;
    }

    .pImg3,
    .pImg4 {
        width: 30vw;
        height: 75vh;
    }

    .pImg3 {
        margin-right: 0;
        margin-bottom: 13%;
        margin-left: -35%;
    }

    .pImg4 {
        margin-left: 39%;
    }

    .pImg5 {
        width: 52vw;
    }

    .pImggr2 {
        flex-direction: column;
    }

    .pImg6 {
        width: 28vw;
        height: 60vh;
        margin-right: -35%;
    }

    .pImg7,
    .pImg8 {
        width: 28vw;
        height: 60vh;
        margin: 27% 0;
    }

    .pImg7 {
        margin-left: -45%;
    }

    .pImg8 {
        margin-left: 35%;
    }


    /*룩북 상세*/
    .lbmore_tit {
        left: -221px;
        font-size: 54px;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 44vh !important;
    }

    .lbmore_tit.lbtit2 {
        left: -140px;
    }




}



/*1200px이하*********************************************************/
@media only screen and (max-width:1200px) {

    /*1.메인*/
    /*Top버튼*/
    #tbtn img {
        width: 33%;
        vertical-align: -5px;
    }

    /*2.메뉴팝업창*/
    .menu_txt_area {
        width: 30%;
    }

    .menu_bg {
        width: 70%;
    }

    .menu_txt a {
        font-size: 4vw;
    }

    .menu_txt a:hover {
        font-size: 4.8vw;
    }


    /*3.로그인팝업*/
    .login {
        width: 37%;
        height: 35vh;
    }

    .l_input input {
        width: 21.5vw;
    }


    /*4. contact 페이지*/
    #contact_wrap {
        margin-top: 14%;
        margin-bottom: 14%;
    }

    .contact_title {
        font-size: 4.5vw;
        margin-left: -5%;
    }

    .contact_box {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .contact_left {
        flex: 4;
        margin-right: 130px;
        height: 40vh;
        margin-right: 2%;
        margin-top: 2%;
    }

    .contact_img {
        width: 100%;
    }

    .contact_left p {
        text-align: right;
    }

    .contact_right {
        padding-top: 5%;
        /* display: block; */
        margin-top: 13%;
    }


    /*회원가입 페이지*/
    #frm {
        width: 72%;
    }

    #btnj {
        width: 20%;
        height: 60%;
    }

    /* 공지사항 페이지*/
    #notice_wrap {
        width: 75%;
        padding-top: 9%;
    }

    /*룩북 페이지*/
    .lb_cont_txt {
        margin-top: 42%;
    }

    .lb_cont_txt .lbbtn_next {
        right: 0%;
    }

}


/*1080px이하*********************************************************/
@media only screen and (max-width:1080px) {

    /*회원가입 페이지*/
    .notice_title.jotit {
        margin-bottom: 5.5%;
    }

    #frm {
        width: 82%;
    }

    .memForm input[type="text"],
    .memForm input[type="tel"],
    .memForm input[type="password"],
    .memForm input[type="date"],
    #seleml,
    #phonesel {
        height: 58px;
    }


    /*공지사항 페이지*/
    #notice_wrap {
        width: 80%;
        padding-top: 10%;
    }

    /*상품페이지*/
    #prod_wrap {
        width: 75%;
    }

    .pImg3,
    .pImg4 {
        width: 30vw;
        height: 60vh;
    }

    /*상품페이지*/
    #prod_wrap {
        width: 88%;
    }

    .prodInfo {
        padding: 5% 2% 0 3%;
    }

    .pdvtBreak {
        display: block;
        line-height: 25px;
    }

    .prodBest {
        margin-left: -25%;
    }


    /*룩북 상세*/
    .tbx {
        width: 65% !important;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 57vh !important;
    }
}

/*1024px이하*********************************************************/
@media only screen and (max-width:1024px) {

    /*메뉴*/
    .menu_txt_area {
        width: 45%;
        padding-top: 10%;
    }

    .menu_bg {
        width: 55%;
    }

    .menu_txt a {
        font-size: 6.5vw;
    }

    .menu_txt {
        line-height: 150px;
    }

    .menu_txt a:hover {
        font-size: 8vw;
    }

    .gnb li {
        font-size: 1.6rem;
    }

    .cbtn {
        top: 7%;
        width: 40px;
    }

    .menubtn img {
        width: 30px;
    }


    /*메인페이지 */
    #lbbox > .lbtn {
        width: 38%;
        height: 5.5%;
        font-size: 2.5vw;
        line-height: 72px;
    }


    /*store 페이지*/
    .store_title {
        margin-bottom: 10%;
        font-size: 2.9rem;
    }

    .store_cate a {
        font-size: 1.5rem;
    }

    .store_cate li + li::after {
        height: 15px;
    }

    .besttit {
        font-size: 1.5rem;
    }

    /*all 제품*/
    .store_best.all > .gallery.all > .photobox {
        width: 47%;
        margin: 0 6% 6% 0;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(3n) {
        margin-right: 6%;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(2n) {
        margin-right: 0;
    }


    /*설명글 박스*/
    .gallery.all .txt {
        padding: 4% 0;
    }

    .txttitle {
        font-size: 1.0625rem;
        padding-bottom: 13px;
    }

    .txtcollec,
    .txtprice {
        font-size: 0.9375rem;
    }


    /*모든 제품 박스*/
    .store_best.all {
        padding-top: 18%;
    }

    /*룩북 상단*/
    .notice_title.lb,
    .notice_title {
        font-size: 2.9rem;
    }

    #lookbook_wrap {
        padding-top: 20%;
    }

    .lb_cont_txt {
        margin-top: 60%;
        padding: 5% 3%;
    }

    .lb_cont_tit {
        font-size: 2rem;
    }

    .lb_cont_txt p {
        font-size: 1.25rem;
        line-height: 50px;
    }

    .lb_cont_txt .lbbtn_next {
        top: 10%;
        right: -7%;
    }

    .lbbtn_more {
        font-size: 1.4rem;
    }

    .lbbtn_more.lb2btn_more {
        bottom: 0;
    }


    /*contact 페이지*/
    #contact_wrap {
        width: 75%;
    }

    .contact_title {
        font-size: 5.5vw;
    }

    .contact_left p {
        font-size: 1.45rem;
    }

    .td_title {
        font-size: 1.3rem;
    }

    #sendbtn {
        bottom: -9%;
        width: 22%;
        height: 10%;
        font-size: 1.5rem;
    }

    /*notice 페이지*/
    .notice {
        font-size: 1.6rem;
    }

    .pbtn img {
        width: 23px;
    }

    .notice ol {
        height: 100px;
        line-height: 20px;
    }

    .notAns {
        font-size: 1.5rem;
        line-height: 40px;
    }

    /*푸터*/
    .intit {
        font-size: 1.5rem;
    }

    .info a {
        font-size: 1.3rem;
    }

    .container li {
        height: 55px;
    }

    .footer_logo {
        font-size: 2rem;
    }

    .footer_bottom > p {
        font-size: 1.2rem;
        left: auto;
        right: 0;
        transform: translateX(0);
    }

}



/*1000px이하*********************************************************/
@media only screen and (max-width:1000px) {

    /*장바구니 팝업 크기*/
    #cart_wrap {
        width: 580px;
    }


    /*1.메인*/
    /*배너 슬라이드*/
    .ban #ban {
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*2.메뉴팝업창*/
    .menu_txt_area {
        width: 35%;
    }

    .menu_bg {
        width: 65%;
    }

    .menu_txt a {
        font-size: 4.9vw;
    }

    .menu_txt a:hover {
        font-size: 5.3vw;
    }

    /*2.로그인팝업*/
    .login {
        width: 43%;
        height: 34vh;
    }

    .l_input input {
        width: 25.5vw;
    }

    /*3.contact 페이지*/
    .contact_title {
        font-size: 5.5vw;
        margin-left: -7%;
    }

    /*회원가입 페이지*/
    /*직접입력 칸 조정*/
    #meminfo #email2 {
        width: 28%;
    }


    /*상품페이지*/
    /*제품 이미지(좌측영역)*/
    .prodImg_box {
        width: 80%;
    }

    .pImg1 {
        width: 55vw;
    }

    .pImg2 {
        width: 65vw;
    }

    .pImg3,
    .pImg4 {
        width: 40vw;
        height: 65vh;
    }

    .pImg5 {
        width: 65vw;
    }

    .pImg6,
    .pImg7,
    .pImg8 {
        width: 35vw;
        height: 65vh;
    }



    /*우측 영역*/
    #prod_wrap {
        justify-content: center;
    }

    .prodInfo {
        position: relative;
        height: 100%;
        padding: 3% 5%;
    }

    .prodInfo_box {
        width: 100%;
        height: 16%;
        right: 0;
        top: auto;
        background-color: #fff;
        margin-top: 0;
    }

    .pdvtBreak {
        display: inline-block;

    }

    .prodBest {
        margin-left: 1%;
    }

    .prodInfo_tit_wrap {
        padding-bottom: 15px;
    }

    /*장바구니버튼*/
    .addBtn {
        display: inline-block;
        position: absolute;
        width: 22%;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }

    .prodPrice {
        padding-bottom: 5px;
    }


    /*룩북 페이지 */
    .lb_cont_txt {
        margin-top: 55%;
    }

    .lbmore_tit {
        left: -210px;
        font-size: 51px;
    }

    .lbbtn_more.lb2btn_more {
        right: 3%;
        bottom: 15%;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 54vh !important;
    }

    .lbmore_tit.lbtit2 {
        left: -134px;
        top: 2%;
    }

}


/*900px이하*********************************************************/
@media only screen and (max-width:900px) {
    #notice_wrap {
        width: 85%;
        padding-top: 15%;
    }

    /*store 페이지*/
    .store_wrap {
        margin-top: 6%;
    }
}




/*830px이하*********************************************************/
@media only screen and (max-width:830px) {

    /*로그인팝업*/
    .login {
        width: 44%;
        height: 42vh;
        padding: 3.2% 2.2%;
    }

    .login_bottom {
        display: block;
        padding-bottom: 0;
    }

    .l_input input {
        width: 39.5vw;
    }

    .loginbtn input {
        width: 39.5vw;
        height: 5vh;
        margin-top: 10px;
    }


    /*contact 페이지*/

    #contact_wrap {
        padding-top: 7.5%;
        padding-bottom: 20%;
    }

    .contact_right {
        margin-top: 20%;
    }


    /*회원가입 페이지*/
    #frm {
        width: 90%;
    }

    .notice_title.jotit {
        margin-bottom: 10.5%;
    }

    .nation_wrap {
        padding-bottom: 2%;
    }

    #btnj {
        width: 23%;
        height: 65%;
    }

    /*룩북 페이지*/
    .lb_cont_img {
        background-position: center;
    }

    .lb_cont_txt {
        margin-top: 55%;
    }

    .lb_cont_txt .lbbtn_next {
        right: -5%;
    }

    #lookbook_wrap {
        margin-top: 90px;
    }

    .lbBreak2_1 {
        display: block;
    }

    .lbbtn_more.lb2btn_more {
        bottom: 5%;
    }


    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 45vh !important;
    }


    /*store 페이지*/
    .store_title {
        margin-bottom: 13%;
    }
}



/*800px이하*********************************************************/
@media only screen and (max-width:800px) {

    /*1.메인*/
    /*배너*/
    #ban > .slide_btn {
        left: 50%;
        transform: translateX(-50%);
    }

    /*룩북 버튼*/
    #lbbox > .lbtn {
        width: 29%;
        font-size: 2.1vw;
        line-height: 70px;
    }


    /*2.메뉴 팝업창*/
    .menu_txt_area {
        width: 100%;
        z-index: 9999;
        background: none;

    }

    /*우측 배경*/
    .menu_bg {
        width: 100%;
        opacity: .6;
    }

    /*글씨영역 박스*/
    .menu_txt_area {
        padding: 15% 10%;
    }

    /*글씨*/
    .menu_txt a {
        font-size: 9vw;
    }

    /*호버시*/
    .menu_txt a:hover {
        font-size: 11vw;
    }

    .menu_txt {
        line-height: 130px;
    }

    /*닫기버튼*/
    .cbtn {
        z-index: 99999999;
    }


    /*푸터*/
    .footer_top {
        padding: 8% 0;
    }

    .info1 {
        margin-right: 130px;
    }

    /*탑버튼*/
    #tbtn {
        width: 60px;
        height: 60px;
    }


    /*메뉴팝업창 닫기버튼*/

    /*룩북 페이지*/
    #lookbook_wrap {
        width: 77%;
        padding: 17% 0 17% 0;
    }

    #lb_cont {
        margin-left: 2%;
    }

    .lbbg {
        padding: 0;
    }

    .lbbg::before {
        display: none;
    }

    #lb_cont {
        margin: 0 auto;
    }

    .lb_cont_txt {
        margin-top: 55%;
        padding: 5% 3%;
    }

    .lb_cont_txt .lbbtn_next {
        right: -3%;
    }

    .lb_cont_tit {
        padding-bottom: 20px;
    }

    .lb_cont_txt {
        margin-top: 50%;
    }

    .lbbtn_more.lb2btn_more {
        bottom: 1%;
    }

}



/*768px이하*********************************************************/
@media only screen and (max-width:768px) {

    /*메뉴*/
    .menu_txt a {
        font-size: 10vw;
    }

    .menu_txt {
        line-height: 155px;
    }

    /*로그인팝업*/
    .login {
        width: 44%;
        height: 42vh;
        padding: 3.2% 2.2%;
    }

    .login_bottom {
        display: block;
        padding-bottom: 0;
    }

    .l_input input {
        width: 39.5vw;
    }

    .loginbtn input {
        width: 39.5vw;
        height: 5vh;
        margin-top: 10px;
    }

    .login_top p:nth-child(1) {
        padding-bottom: 5px;
    }

    .break {
        display: block;
    }


    /*contact 페이지*/
    .contact_title {
        font-size: 6.5vw;
        margin-left: -2%;
    }

    /*공지사항 페이지*/
    #notice_wrap {
        padding-top: 20%;
    }

    /*상품페이지*/
    .prodImg_box {
        width: 100%;
    }

    .pImg1 {
        width: 70vw;
    }

    .pImg2,
    .pImg5 {
        width: 80vw;
    }

    .pImg3,
    .pImg4,
    .pImg6,
    .pImg7,
    .pImg8 {
        width: 45vw;
        height: 70vh;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 42vh !important;
    }


    /*store 페이지*/
    .store_wrap {
        margin-top: 12%;
    }

    /*contact 페이지*/
    #contact_wrap {
        width: 90%;
    }

}

/*740px이하*********************************************************/
@media only screen and (max-width:740px) {
    #lookbook_wrap {
        width: 85%;
    }

    .lbbtn_more {
        bottom: 13%;
    }
}



/*683px이하*********************************************************/
@media only screen and (max-width:683px) {

    /*회원가입 페이지 - 직접입력 칸 조정*/
    #meminfo #email1 {
        width: 29%;
    }

    /*룩북 페이지*/
    .lb_cont_txt {
        margin-top: 57%;
    }

    .lb_cont_txt .lbbtn_next {
        top: -49%;
        right: 2%;
    }


    .notice_title {
        margin-bottom: 50px;
    }



    /*반투명 박스*/
    /*
    .lbbtn_next::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 330px;
        background-color: rgba(255, 255, 255, 0.50);
        margin-left: -3px;
        margin-top: -144px;
    }
*/


}


/*670px이하*********************************************************/
@media only screen and (max-width:670px) {

    /*룩북 페이지*/
    #lookbook_wrap {
        width: 90%;
    }
}



/*660px이하*********************************************************/
@media only screen and (max-width:660px) {


    /*1.메인*/

    /*룩북 버튼*/
    #lbbox > .lbtn {
        width: 37%;
        font-size: 2.8vw;
    }

    /*푸터 패딩*/
    .footer_top {
        padding: 10% 0;
    }

    #tbtn {
        right: 60px;
        bottom: 115px;
    }

    .footer_bottom {
        height: calc(430px - 84%);
    }

    /*로고*/
    .footer_logo {
        position: absolute;
        text-align: right;
        right: 0;
    }

    .footer_bottom > p {
        text-align: right;
        bottom: 5px;
    }


    /*로그인팝업*/
    .login {
        width: 50%;
        height: 43vh;
    }

    .l_input input,
    .loginbtn input {
        width: 45.5vw;
    }


    /*contact 페이지*/
    .contact_right {
        margin-top: 28%;
    }

    .contact_title {
        font-size: 7.5vw;
        margin-left: -12%;
    }

    /*회원가입 페이지*/
    #meminfo #email1 {
        width: 44%;
        margin-right: 2%;
    }

    #meminfo #email2 {
        width: 44%;
    }

    #seleml {
        width: 45%;
        margin: 0 0 0 2.8%;
    }

    #btnj {
        width: 27%;
        height: 75%;
    }


    /*상품페이지*/
    .pImg2 {
        width: 83vw;
        height: 35vh;
    }

    .pImg3,
    .pImg4,
    .pImg6,
    .pImg7,
    .pImg8 {
        width: 55vw;
        height: 70vh;
    }

    .pImg5 {
        width: 85vw;
        height: 35vh;
    }

    .pImg6 {
        margin-right: -39%;
    }

    .pImg7 {
        margin-left: -30%;
    }

    .pImg8 {
        margin-left: 31%;
    }


    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 37vh !important;
    }
}


/*630px이하*********************************************************/
@media only screen and (max-width:630px) {

    /*룩북 페이지*/
    .lbBreak {
        display: block;
    }

    .break {
        display: inline-block;
    }

    br {
        display: none;
    }

    .lb_cont_txt .break {
        display: inline;
    }

    .lbbtn_more {
        bottom: 0;
    }

    /*공지사항 페이지*/
    .noticeBreak {
        display: block;
    }
}


/*600px이하*********************************************************/
@media only screen and (max-width:600px) {

    /*룩북페이지*/
    .lbBreak2_1 {
        display: inline-block;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 65vh !important;
    }


    /*store 페이지*/
    .store_title {
        margin-bottom: 18%;
    }

    .store_cate li {
        padding: 0 30px;
    }

    .store_best.all > .gallery.all > .photobox {
        width: 48.25%;
        /*        margin: 0 0 20% 0;*/
        margin-right: 3.5%;
    }



    .store_best.all > .gallery.all > .photobox:nth-child(3n) {
        margin-right: 3.5%;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(6n) {
        margin-right: 0;
    }

    /*이미지 설명박스*/
    .gallery.all .txt,
    .txt {
        padding: 3% 0;
    }

    .gallery.all .txttitle,
    .txttitle {
        font-size: 1rem;
        padding-bottom: 2px;
    }

    .gallery.all .txtcollec,
    .txtprice,
    .txtcollec,
    .txtprice {
        font-size: 0.875rem;
    }
}




/*580px이하*********************************************************/
@media only screen and (max-width:580px) {

    /*로그인팝업*/
    .login {
        width: 53%;
    }

    .l_input input,
    .loginbtn input {
        width: 48.5vw;
    }

    /*contact 페이지*/
    #contact_wrap {
        width: 77%;
    }

    .contact_title {
        margin-left: -9%;
    }

    .contact_title::before {
        width: 49px;
    }

    /*장바구니 팝업*/
    #cart_wrap {
        width: 100vw;
    }

    /*회원가입 페이지*/
    #seleml {
        margin: 0 0 0 2.2%;
    }

    /*상세페이지*/
    .pImg1 {
        width: 80vw;
        height: 50vh;
    }

    .prodInfo {
        padding: 6% 5%;
    }

    .addBtn {
        width: 21%;
        height: 45px;
        font-size: 0.9375rem;
    }

    /*룩북페이지*/
    .inlineBreak {
        display: inline;
    }

    .lb_cont_txt {
        margin-top: 60%;
    }

    .lb_cont_txt p {
        font-size: 1.0625rem;
    }

    .lbbtn_more {
        bottom: 4%;
    }
}

/*550px이하*********************************************************/
@media only screen and (max-width:550px) {

    html {
        font-size: 15.5px;
    }

    /*1.헤더*/
    /*gnb 숨기기*/
    .gnb {
        display: none;
    }

    /*헤더 패딩 조절*/
    .top {
        padding: 0 4%;
    }

    .logo {
        margin: 0 auto;
        padding-right: 30px;
    }

    /*장바구니아이콘 보이게*/
    .header_cart {
        display: block;
    }

    /*2.메인*/

    /*룩북 버튼*/
    #lbbox > .lbtn {
        width: 47%;
        font-size: 3.6vw;
    }




    /*3.푸터*/
    #footer {
        height: 395px;
    }

    .footer_top {
        height: 73%;
        padding: 10% 2%;
    }

    .info1 {
        padding-left: 0;
    }

    .footer_bottom {
        height: calc(390px - 80%);
    }

    .footer_logo {
        font-size: 1.7rem;
    }

    .footer_bottom > p {
        left: 0;
        bottom: 0;
        width: 100%;
        transform: translateX(0);
        text-align: right;
        letter-spacing: -0.4px;
    }

    #tbtn {
        width: 55px;
        height: 55px;
        right: 38px;
        bottom: 130px;
    }

    /*모바일버전 메뉴팝업창*/
    .menu_txt_area {
        padding: 30% 10%;
    }

    .menu_txt {
        line-height: 110px;
    }

    .menu_txt a {
        font-size: 10.3vw;
    }

    .menu_txt a:hover {
        font-size: 13vw;
    }

    .menu_gnb {
        display: block;
        font-size: 5.5vw;
        margin-top: 13%;
    }

    .menu_gnb a:hover {
        font-size: 7vw;
    }

    /*5.로그인팝업창 보이기*/
    .login {
        width: 100vw;
        height: 100vh;
        padding: 20% 10%;
    }

    .break {
        display: inline-block;
    }

    .login_top p:first-child {
        font-size: 2rem;
    }

    .login_top p:last-child {
        padding-top: 3%;
        font-size: 1rem;
    }

    .l_input input,
    .loginbtn input {
        width: 78.5vw;
        height: 5vh;
    }

    .loginbtn #lobtn {
        height: 5.5vh;
        font-size: 0.9rem;
    }

    .logpopup_join {
        font-size: 1.125rem;
        right: 13%;
    }

    /*닫기버튼 나타나게*/
    .logcbtn {
        display: block;
    }


    /*장바구니 팝업창*/
    .cart {
        padding: 7% 6%;
    }

    /*상품페이지*/
    .prodCmt {
        font-size: 1.2rem;
    }

    .prodCmt h5 {
        width: 100px;
    }

    .prodInfo_box {
        height: 22%;
    }

    .prodInfo_tit {
        font-size: 1.2rem;
    }

    .prodBest {
        width: 50px;
        height: 22px;
        line-height: 22px;
        font-size: 0.875rem;
    }

    .prodPrice {
        padding-bottom: 10px;
        font-size: 1.0625rem;
    }

    .prodSelec {
        font-size: 1.0625rem;
    }

    #option {
        padding: 1px 25px;
        font-size: 1rem;
    }

    .addBtn {
        width: 100%;
        height: 60px;
        font-size: 1.125rem;
        display: block;
        bottom: 0;
        top: auto;
        right: 0;
        transform: translateY(0);
    }

    /*룩북 페이지*/
    .lbmore_tit {
        top: 10%;
        left: -190px;
        font-size: 47px;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 61vh !important;
    }

    .lbmore_tit.lbtit2 {
        left: -120px;
        top: 2%;
    }

}

/*506px이하*********************************************************/
@media only screen and (max-width:506px) {

    /*회원가입페이지 */
    /*회원가입창 전체 박스*/
    #meminfo {
        width: 80%;
    }

    /*이메일입력란 조정*/
    #seleml {
        margin: 0 0 0 1%;
    }

    #btnj {
        width: 36%;
        height: 100%;
        bottom: -75%;
    }

    /*장바구니 너비 조정*/
    .cart_list li:nth-child(1) {
        width: 23%;
    }

    .cart_categoty li:nth-child(1) {
        width: 48%;
    }

    /*룩북페이지*/
    .lb_cont_txt {
        margin-top: 77%;
    }

}


/*480px이하*********************************************************/
@media only screen and (max-width:480px) {

    /*메뉴 닫기버튼*/
    .cbtn {
        width: 25px;
        right: 4%;
    }

    /*룩북 페이지*/
    .lbbtn_more {
        bottom: -7%;
    }

    .lbbtn_more {
        bottom: -5%;
    }

    .lb_cont_txt p {
        line-height: 32px;
    }

    .lb_cont_tit {
        padding-bottom: 15px;
    }


    /*이미지 설명박스 보이게*/
    #gallery.swiper-wrapper {
        padding-bottom: 20%;
    }

    .photobox.swiper-slide,
    .store_best.all > .gallery.all > .photobox {
        overflow: visible;
    }

    /*제품설명 박스*/
    .txt,
    .gallery.all .txt,
    .txt {
        padding: 8% 0;
    }

    /*상품명 폰트사이즈*/
    .txttitle,
    .gallery.all .txttitle {
        font-size: 0.9375rem;
        padding-bottom: 7px;
    }

    /*제품 설명 폰트사이즈*/
    .txtcollec,
    .txtprice,
    .txtprice,
    .gallery.all .txtcollec,
    .txtprice {
        font-size: 0.8125rem;
    }

    /*블릿 조절*/
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -1px;
    }


    .store_title {
        font-size: 2rem;
    }

    .store_cate a {
        font-size: 1.1rem;
    }

    .store_cate li {
        padding: 0 23px;
    }

    .cate_active {
        font-size: 36px;
        padding: 90px 0 80px 0;
    }

    /*all 제품 간격 조절*/

    .store_best.all > .gallery.all > .photobox {
        width: 47.75%;
        margin: 0px 0 45% 0;
        margin-right: 4.5%;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(3n) {
        margin-right: 4.5%;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(6n) {
        margin-right: 0;
    }

    .notice_title.lb,
    .notice_title {
        font-size: 2rem;
    }

    .lb_cont_tit {
        font-size: 1.6rem;
    }

    .lb_cont_txt p {
        font-size: 1.1rem;
    }

    .lbbtn_more {
        font-size: 1.25rem;

    }

    .cart_btn {
        width: 25%;
        right: 6%;
    }

    .delbtn.cart_btn {
        right: 35%;
    }

    /*룩북 페이지*/
    .lbmore_tit {
        top: 8%;
        left: -173px;
        font-size: 43px;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 54vh !important;
    }

    .lbmore_tit.lbtit2 {
        left: -111px;
    }

    /*contact 페이지*/
    .contact_left p {
        font-size: 1.125rem;
    }

    .td_title {
        font-size: 1rem;
    }

    #sendbtn {
        bottom: -15%;
        width: 35%;
        height: 8.5%;
        font-size: 1.3rem;
    }

    .notice {
        font-size: 1.2rem;
    }

    .notice ol {
        height: 70px;
        line-height: 17px;
    }

    .pbtn img {
        width: 17px;
    }

    .notAns {
        padding: 6%;
        font-size: 1rem;
        line-height: 33px;
    }

    #lbbox > .lbtn {
        width: 50%;
        height: 7%;
        font-size: 3.8vw;
        line-height: 50px;
    }


    .l_input input,
    .loginbtn input,
    .loginbtn #lobtn {
        height: 7vh;
    }
}

/*462px이하*********************************************************/
@media only screen and (max-width:462px) {
    .lb2_contxt .lbBreak2 {
        display: inline;
    }

    .lbBreak2_2 {
        display: inline;
    }

    .lbBreak2.lbBreak2_3 {
        display: inline;
    }

    .lbBreak2_4 {
        display: block;
    }

    .lbBreak2.lbBreak2_5 {
        display: block;
    }

    .lbbtn_more.lb2btn_more {
        bottom: -10%;
    }

}


/*450px이하*********************************************************/
@media only screen and (max-width:450px) {
    .login {
        width: 63%;
        padding: 3.2% 3.2%;
    }

    .l_input input,
    .loginbtn input {
        width: 56.5vw;
    }

    /*contact 페이지*/
    #contact_wrap {
        width: 88%;
        padding-top: 15.5%;
        padding-bottom: 30%;
    }

    .contact_title::before {
        width: 45px;
        vertical-align: 10px;
    }

    .contact_title {
        font-size: 8vw;
        margin-left: -3%;
    }

    .contact_right {
        margin-top: 35%;
    }


    /*모바일버전 메뉴팝업창*/
    .menu_txt_area {
        padding: 30% 10%;
    }

    .menu_txt {
        line-height: 100px;
    }

    .menu_txt a {
        font-size: 11.9vw;
    }

    .menu_txt a:hover {
        font-size: 15vw;
    }

    .menu_gnb {
        display: block;
        font-size: 6.4vw;
        margin-top: 13%;
    }

    .menu_gnb a:hover {
        font-size: 9vw;
    }



    /*모바일버전 로그인팝업창*/
    .login {
        width: 100vw;
        padding: 25% 10%;
    }

    .login_top p:last-child {
        font-size: 1.06rem;
    }

    .l_input input,
    .loginbtn input {
        width: 79.5vw;
    }

    .logpopup_join {
        font-size: 1.12rem;
    }


    /*장바구니 팝업 버튼 크기 조정*/
    .cart_btn {
        width: 20%;
        right: 6%;
    }

    .delbtn.cart_btn {
        right: 30%;
    }


    /*상품페이지*/
    .prodBreak {
        display: block;
        margin-left: 103px;
    }

    .pImg1 {
        width: 90vw;
    }

    .pImg2,
    .pImg5 {
        width: 90vw;
        height: 30vh;
    }

    .prodCmt_box {
        padding-top: 10%;
    }

    .pImggr {
        padding-bottom: 35%;
    }

    .pImg3 {
        margin-left: -22%;
    }

    .pImg4 {
        margin-left: 22%;
    }

    .pImg3,
    .pImg4,
    .pImg6,
    .pImg7,
    .pImg8 {
        width: 80vw;
        height: 60vh;
    }

    .pImg5 {
        margin-bottom: 35%;
    }

    .pImg6 {
        margin-right: -22%;
    }

    .pImg7 {
        margin-left: -13%;
    }

    .pImg8 {
        margin-left: 12%;
    }


    /*룩북 페이지*/
    .lb_cont_txt {
        margin-top: 80%;
        padding: 7% 3%;
    }

    .lb_cont_txt .lbbtn_next {
        top: -47%;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 50vh !important;
    }
}



/*430px이하*********************************************************/
@media only screen and (max-width:430px) {

    /*1.메뉴팝업*/
    /*글씨영역 박스*/
    .menu_txt_area {
        padding: 15% 13%;
    }

    /*글씨*/
    .menu_txt a {
        font-size: 11vw;
    }

    /*호버시*/
    .menu_txt a:hover {
        font-size: 14vw;
    }

    .menu_txt {
        line-height: 115px;
    }

    /*메뉴팝업 gnb*/
    .menu_gnb {
        font-size: 6.3vw;
    }

    .menu_gnb a:hover {
        font-size: 7.5vw;
    }

    .menu_gnb li {
        line-height: 38px;
    }


    /*2.푸터*/
    /*푸터 상단*/
    .footer_top {
        padding: 10% 0;
        flex-direction: column;
    }

    .intit {
        letter-spacing: 2px;
        padding-bottom: 15px;
        font-size: 1rem;
    }

    .info a {
        font-size: 0.9rem;
    }

    /*상단 박스*/
    .info.container {
        display: flex;
    }

    /*푸터상단 li들*/
    .container p,
    .container li {
        display: block;
        margin-right: 5%;
        text-align: center;
    }

    /*푸터 상단*/
    .info1 {
        margin-right: 0;
        margin-bottom: 25%;
    }

    /*탑버튼*/
    #tbtn {
        width: 50px;
        height: 50px;
        right: 30px;
        bottom: 128px;
    }

    /*로고*/
    .footer_logo {
        font-size: 1.5rem;
    }

    .footer_bottom > p {
        text-align: right;
        bottom: 5px;
        font-size: 0.85rem;
    }

    .info.container li {
        margin-right: 17px;
    }


    /*로그인팝업*/
    .container p,
    .container li {
        margin-right: 0;
    }

    /*메뉴 팝업창*/
    .menu_txt_area {
        padding: 20% 13%;
    }

    .menu_txt a {
        font-size: 12.5vw;
    }

    .menu_txt a:hover {
        font-size: 15.5vw;
    }

    .menu_gnb li {
        line-height: 43px;
    }

    .menu_gnb {
        font-size: 6.8vw;
    }

    .menu_gnb a:hover {
        font-size: 8.5vw;
    }


    /*회원가입 페이지*/
    #meminfo {
        margin-top: 0;
    }

    #frm {
        width: 100%;
    }

    .notice_title.jotit {
        margin-bottom: 15.5%;
    }

    #btnj {
        width: 35%;
        height: 100%;
        bottom: -90%;
    }

    /*타이틀*/
    .notice_title.jotit {
        font-size: 3.5vh;
    }

    .notice_title::before {
        width: 33px;
    }

    /*회원가입 풀페이지 조정*/
    #meminfo {
        margin-top: 35%;
        margin-bottom: 35%;
    }

    /*공지사항 페이지*/
    .notice_title {
        font-size: 2rem;
    }

    .notice_title::before {
        width: 33px;
    }

    /*룩북 페이지*/
    .lbmore_tit {
        top: 6%;
        left: -158px;
        font-size: 40px;
    }

    .lbmore_tit.lbtit2 {
        left: -102px;
    }

    .page.lbbg.section.fp-auto-width-responsive {
        height: 120vh !important;
    }

    .lbbtn_more {
        bottom: -35%;
    }

    .lb_cont_img {
        width: 98%;
        margin-left: 1%;
    }

    .lbbtn_more.lb2btn_more {
        bottom: -42%;
    }

    /*contact*/
    #sendbtn {
        width: 28%;
        height: 8%;
        font-size: 1.2rem;
    }

}


/*모바일기준*/
/*380px이하*********************************************************/
@media only screen and (max-width:380px) {

    /*메뉴 팝업창 ******************************************************/
    .menu_txt_area {
        padding: 18% 13%;
    }

    .menu_txt {
        line-height: 100px;
    }

    /*메인페이지 ******************************************************/

    #lbbox > .lbtn {
        width: 60%;
        font-size: 4.6vw;
        line-height: 50px;
    }



    /*contact 페이지 ******************************************************/
    #contact_wrap {
        width: 100%;
    }

    .contact_title {
        margin-left: 2%;
        font-size: 9vw;
    }


    .contact_title::before {
        width: 40px;
    }

    .contact_box {
        padding: 0;
    }

    .contact_left {
        width: 100%;
    }

    .contact_right,
    .contact_left p {
        padding: 0 5%;
    }

    .contact_left p {
        padding-top: 2%;
    }

    #sendbtn {
        right: 5%;
    }


    /*장바구니 팝업창 ******************************************************/
    .cart {
        padding: 7% 6%;
    }

    .cart_categoty li:nth-child(1) {
        width: 44%;
    }

    .cart_list {
        padding-left: 0;
    }

    .list_name small {
        display: block;
    }


    /*리스트 항목들 조정*/
    .cart_list li:nth-child(1) {
        width: 28%;
    }

    .cart_list li:nth-child(2) {
        padding-left: 1.8%;
    }

    .cart_list li:nth-child(3) {
        width: 23%;
    }

    .check_label {
        position: absolute;
        right: 5%;
        top: 49%;
    }

    .cart_msg {
        position: absolute;
        top: 45%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    /*버튼(주문버튼, 삭제버튼)*/
    .cart_btn {
        width: 85vw;
        right: 0;
        bottom: 14%;
        height: 7.5%;
        font-size: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .delbtn.cart_btn {
        right: 0;
        bottom: 23%;
    }


    .cart_cbtn {
        right: 25px;
    }

    /*회원가입 페이지 ******************************************************/
    #meminfo {
        width: 100%;
        padding: 0 5%;
    }

    .memForm li {
        padding-bottom: 0;
    }


    /*공지사항 페이지 ******************************************************/
    #notice_wrap {
        width: 90%;
        padding-top: 25%;
    }

    .notice_footer {
        margin-top: 25%;
    }

    /*상품페이지 ******************************************************/
    .prodMore {
        padding-top: 20%;
    }

    .pImg2,
    .pImg5 {
        height: 33vh;
    }

    .pImg3,
    .pImg4,
    .pImg6,
    .pImg7,
    .pImg8 {
        width: 80vw;
        height: 78vh;
    }

    .prodCmt_box {
        padding-top: 20%;
        padding-bottom: 50%;
    }

    .pImg3 {
        margin-bottom: 32%;
    }

    .pImg7,
    .pImg8 {
        margin-top: 32%;
    }

    /*옵션창 텍스트*/
    .prodInfo_tit {
        font-size: 1.0625rem;
    }

    #option {
        padding: 1px 16px;
        font-size: 0.9375rem;
    }


    /*모바일시 장바구니버튼 조정 - 처음에 안보였다가 누르면 옵션 나타나게!*/
    .prodInfo_box {
        height: 34%;
        background: none;
    }

    .prodInfo_top {
        position: relative;
        display: none;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        padding: 8% 5%;
        margin-left: -6%;
        border-top: 1px solid #b2b2b2;
    }

    .slideBtn {
        display: block;
    }

    /*룩북 페이지*/
    #lookbook_wrap {
        /*        padding: 0;*/
    }

    .notice_title.lb {
        margin-top: 8.5%;
    }

    .lb_cont_img {
        position: relative;
        border-radius: 8px;
    }

    /*모바일에서 타이틀*/
    .mbnoTitle {
        display: block;
        z-index: 999;
        color: #fff;
        bottom: 35px;
        position: absolute;
        left: 14px;
        font-size: 1.5rem;
    }

    /*텍스트 박스 사라지게*/
    .lb_cont_txt {
        display: none;
    }

    .mobmoreBtn {
        display: block;
        position: absolute;
        bottom: 20px;
    }

    .mobmoreBtn a {
        color: #fff;
    }

    .notice_title {
        margin-bottom: 35px;
    }

    .lb_cont_img {
        height: 405px;
    }

    .lbbtn_more {
        font-size: 1.1rem;
    }

    .mobnextBtn {
        display: block;
        right: 2%;
    }

    /*룩북 상세페이지*************************************************************/
    #lookbook_more {
        top: 0;
    }

    .lbmore_tit {
        top: -6%;
        left: -8%;
        font-size: 36px;
        transform: rotate(0);
        z-index: 9;
    }

    .lbmore_cont {
        margin: 0 auto;
        margin-top: 40%;
    }

    .moblbTxt {
        display: block;
        width: 75%;
        margin: 30% auto;
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
    }

    .moblbTxt_title {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 40px;
    }

    .moblbTxt_title b {
        display: block;
        font-size: 2.375rem;
        font-style: italic;
        font-weight: 600;
    }

    .moblbTxt p {
        padding: 15% 0;
        line-height: 30px;
        color: #7b7b7b;
        text-align: justify;
    }

    .moblbTxt_title.moblb2Txt b {
        font-size: 2.125rem;
    }


    .moblbTxt br {
        display: block;
    }

    /*룩북 2페이지 이미지 크기 조절*/
    .lb2Img img {
        height: 57vh !important;
    }


    .lbmore_tit.lbtit2 {
        left: -22px;
        top: -23px;
        text-shadow: 0 0 rgba(51, 51, 51, 0.9);
    }





    /*로그인화면************************************************/
    .l_input input,
    .loginbtn input,
    .loginbtn #lobtn {
        height: 7vh;
    }

    /*로그인팝업 닫기버튼*/
    .logcbtn {
        width: 6.5%;
    }


    /*store 페이지 ************************************************/
    .store_wrap .swiper-container {
        width: 92%;
    }

    .store_wrap {
        margin-top: 22%;
        padding: 13% 0 17% 0;
    }

    .store_title {
        font-size: 1.8rem;
        margin-left: -5%;
    }

    .notice_title.lb,
    .notice_title {
        font-size: 1.8rem;
    }

    .store_title::before {
        width: 33px;
    }


    .store_cate_box {
        width: 90%;
    }

    .store_cate li {
        padding: 0 20px;
    }


    .cate_active {
        font-size: 35px;
        padding: 85px 0 80px 0;
    }

    .store_cate a {
        font-size: 1rem;
    }

    .besttit {
        font-size: 1.3rem;
    }

    /*이미지 설명박스 보이게*/
    #gallery.swiper-wrapper {
        padding-bottom: 20%;
    }

    .photobox.swiper-slide,
    .store_best.all > .gallery.all > .photobox {
        overflow: visible;
    }

    /*제품설명 박스*/
    .txt {
        padding: 4% 0;
    }

    /*상품명 폰트사이즈*/
    .txttitle,
    .gallery.all .txttitle {
        font-size: 0.9375rem;
        padding-bottom: 7px;
    }

    /*제품 설명 폰트사이즈*/
    .txtcollec,
    .txtprice,
    .txtprice,
    .gallery.all .txtcollec,
    .txtprice {
        font-size: 0.8125rem;
    }

    /*블릿 조절*/
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -1px;
    }

    /*all 제품 간격 조절*/
    .store_best.all > .gallery.all > .photobox {
        width: 47.5%;
        margin: 0px 0 45% 0;
        margin-right: 5%;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(3n) {
        margin-right: 5%;
    }

    .store_best.all > .gallery.all > .photobox:nth-child(6n) {
        margin-right: 0;
    }


    .notice {
        font-size: 1.1rem;
    }



}
