@charset "utf-8";
/* member.css - 회원가입 CSS */



/* 회원가입 창 **************************************************/
/*회원가입 헤더영역*/
.member_top{
    background-color: #fff;
}


/*회원가입 타이틀*/
.notice_title.jotit {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
}

/*회원가입 박스*/
#meminfo {
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 90px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}


/*입력박스 폼*/
#frm {
    width: 50%;
    margin: 0 auto;
}

.nation_wrap .input_radio {
    display: none;
}

.radio_label {
    position: relative;
    padding-left: 25px;
    padding-right: 30px;
}

.radio_label:last-child {
    padding-right: 0;
}

.bullet_radio {
    position: absolute;
    width: 17px;
    height: 17px;
    vertical-align: -2px;
    border-radius: 50%;
    border: 1px solid #000;
    left: 0;
    top: 0;
    background: url(../images/input_radio_transparent.png) no-repeat;
    background-size: 100%;
    transition: 0.3s;
    margin-top: 5px;
}

.nation_wrap .input_radio:checked + .bullet_radio {
    background: url(../images/input_radio_black.png) no-repeat;
    background-size: 100%;
}



/*ul박스의 li*/
.memForm li {
    position: relative;
    /*부모 자격(가입하기 버튼)*/
    width: 100%;
    padding-bottom: 2.5%;
}

/*입력박스 공통*/
.memForm input[type="text"],
.memForm input[type="tel"],
.memForm input[type="password"],
.memForm input[type="date"],
#seleml,
#phonesel {
    padding-left: 8px;
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.0625rem;
    color: #333;
}


/* 내국인/외국인 체크박스 */
.nation_wrap label {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.0625rem;
    color: #333;
}


/*이메일 앞주소*/
#meminfo #email1 {
    width: 30%;
    margin-right: 1.5%;
}

/*이메일 직접입력창*/
#meminfo #email2 {
    width: 29%;
    display: none;
}

/*이메일 선택박스*/
#seleml {
    width: 30%;
    margin: 0 3% 0 1.5%;
}

.memForm li:last-child {
    padding-bottom: 14%;
}

/*핸드폰번호*/
#phonesel {
    width: 25%;
}

#phoneNum {
    position: absolute;
    width: 72%;
    right: 0;
}



/*가입하기 버튼*/
#btnj {
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 19%;
    height: 58%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    /*    font-size: 1rem;*/
    font-size: 0.85vw;
    background-color: #333;
}


/*체크 후 메시지 박스*/
.msg {
    display: block;
    width: 100px;
    height: 15px;
    line-height: 15px;
    font-size: 0.9375rem;
    color: #df2c2c;
    padding: 10px 0 5px 8px;
    white-space: nowrap;
    /*줄바꿈방지*/
    /*    outline: 1px solid red;*/
}
